.categories {
  text-align: center;
  margin: 20px 0;
  &__item {
    margin: 0 10px;
    border-bottom: 2px solid transparent;
    display: inline-block;
    color: white;
    cursor: pointer;
    &:hover {
      color: white;
      border-bottom: 2px solid blue;
    }
  }
}